<p>
  entry works!
</p>
<div class="row">
  <div class="col-md-12">
    <form #f="ngForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-sm-3 form-group">
          <label for="pId">P Id</label>
          <input type="number" id="pId" name="pId" [(ngModel)]=model.pId class="form-control">
        </div>
        <div class="col-sm-3 form-group">
          <label for="month">Month</label>
          <input type="number" id="month" name="month" [(ngModel)]=model.month class="form-control">
        </div>
        <div class="col-sm-3 form-group">
          <label for="year">Year</label>
          <input type="number" id="year" name="year" [(ngModel)]=model.year class="form-control">
        </div>
      </div>

      <div class="row">
        <div class="col-sm-3 form-group">
          <button class="btn btn-success" type="submit">Submit</button>
        </div>
      </div>

    </form>
  </div>
</div>